In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings
warnings.filterwarnings('ignore')

In [2]:
dt_train = pd.read_csv("data_train.csv")

In [3]:
dt_train.head()

,OrderId,StoreId,OrderPrice,DeliveryType,OrdersInQueue,OvenProductsInQueue,OrdersInOven,OrdersReadyForDispatch,DriversClockedIn,DriversOnTheWay,ClockedInEmployees,ReceivedTimestamp,CompletedTimestamp,OriginalEstimatedDrivingTimeSeconds,EstimatedOrderCompletionTime,ActualOrderCompletionTime
0,0,152,6.99,2,0,0,0,0,0,0,0,2018-06-01 13:35:32,2018-06-01 13:42:23,-1.0,808.0,411.0
1,1,152,6.99,2,1,1,0,0,0,0,0,2018-06-01 13:35:49,2018-06-01 13:42:23,-1.0,791.0,394.0
2,2,152,5.95,2,0,0,0,0,0,0,1,2018-06-01 15:38:37,2018-06-01 15:44:29,-1.0,803.0,352.0
3,3,152,7.95,2,0,0,0,0,1,0,2,2018-06-01 15:59:15,2018-06-01 16:05:56,-1.0,825.0,401.0
4,4,152,7.49,2,0,0,1,0,1,0,2,2018-06-01 16:04:14,2018-06-01 16:10:46,-1.0,826.0,392.0

In [4]:
model_q1a = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType + OrdersInQueue \
                + OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + DriversClockedIn \
                + DriversOnTheWay + ClockedInEmployees', data=dt_train).fit()
print(model_q1a.summary())

                                OLS Regression Results
=====================================================================================
Dep. Variable:     ActualOrderCompletionTime   R-squared:                       0.095
Model:                                   OLS   Adj. R-squared:                  0.095
Method:                        Least Squares   F-statistic:                     3280.
Date:                       Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                               09:31:16   Log-Likelihood:            -2.4896e+06
No. Observations:                     281826   AIC:                         4.979e+06
Df Residuals:                         281816   BIC:                         4.979e+06
Df Model:                                  9
Covariance Type:                   nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept               1652.6303     11.991    137.828      0.000    1629.129    1676.131
OrderPrice                14.8608      0.270     55.095      0.000      14.332      15.389
DeliveryType            -278.8855      5.392    -51.724      0.000    -289.453    -268.318
OrdersInQueue            115.8042      1.172     98.820      0.000     113.507     118.101
OvenProductsInQueue       -0.3288      0.028    -11.805      0.000      -0.383      -0.274
OrdersInOven              40.3752      2.609     15.476      0.000      35.262      45.488
OrdersReadyForDispatch    67.5315      1.725     39.142      0.000      64.150      70.913
DriversClockedIn          -6.8856      2.675     -2.574      0.010     -12.129      -1.643
DriversOnTheWay           53.2234      2.093     25.428      0.000      49.121      57.326
ClockedInEmployees       -30.2230      2.099    -14.402      0.000     -34.336     -26.110
==============================================================================
Omnibus:                   404050.598   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        186108276.714
Skew:                           8.521   Prob(JB):                         0.00
Kurtosis:                     127.733   Cond. No.                         671.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [5]:
model_q1a.predict(dt_train)

0         1198.736164
1         1314.211540
2         1153.057945
3         1145.670863
4         1179.210113
             ...
281835    1072.047996
281836    1298.703116
281837    1088.173478
281838    1365.794295
281839    1602.780483
Length: 281840, dtype: float64

In [6]:
predictions_q1a = model_q1a.predict(dt_train)

In [7]:
dt_train['Predicted_ActualOrderCompletionTime'] = predictions_q1a

In [8]:
dt_train[["ActualOrderCompletionTime", "Predicted_ActualOrderCompletionTime"]].head()

   ActualOrderCompletionTime  Predicted_ActualOrderCompletionTime
0                      411.0                          1198.736164
1                      394.0                          1314.211540
2                      352.0                          1153.057945
3                      401.0                          1145.670863
4                      392.0                          1179.210113

In [10]:
dt_train["error"] = dt_train["ActualOrderCompletionTime"] - dt_train["Predicted_ActualOrderCompletionTime"]

In [11]:
dt_train[["ActualOrderCompletionTime", "Predicted_ActualOrderCompletionTime", "error"]].head()

   ActualOrderCompletionTime  Predicted_ActualOrderCompletionTime       error
0                      411.0                          1198.736164 -787.736164
1                      394.0                          1314.211540 -920.211540
2                      352.0                          1153.057945 -801.057945
3                      401.0                          1145.670863 -744.670863
4                      392.0                          1179.210113 -787.210113

In [12]:
dt_train["error_abs"] = np.abs(dt_train["error"])

In [13]:
dt_train[["ActualOrderCompletionTime", "Predicted_ActualOrderCompletionTime", "error", "error_abs"]].head()

,ActualOrderCompletionTime,Predicted_ActualOrderCompletionTime,error,error_abs
0,411.0,1198.736164,-787.736164,787.736164
1,394.0,1314.211540,-920.211540,920.211540
2,352.0,1153.057945,-801.057945,801.057945
3,401.0,1145.670863,-744.670863,744.670863
4,392.0,1179.210113,-787.210113,787.210113

In [14]:
dt_train["error_abs"].mean()

804.9151964020218

In [15]:
dt_train["error_squared"] = dt_train["error"]**2

In [16]:
dt_train[["ActualOrderCompletionTime", "Predicted_ActualOrderCompletionTime", "error", "error_abs", "error_squared"]].head()

,ActualOrderCompletionTime,Predicted_ActualOrderCompletionTime,error,error_abs,error_squared
0,411.0,1198.736164,-787.736164,787.736164,620528.263411
1,394.0,1314.211540,-920.211540,920.211540,846789.277788
2,352.0,1153.057945,-801.057945,801.057945,641693.831469
3,401.0,1145.670863,-744.670863,744.670863,554534.694463
4,392.0,1179.210113,-787.210113,787.210113,619699.762722

In [17]:
dt_train["error_squared"].mean()

2757156.8079742217

In [18]:
np.sqrt(dt_train["error_squared"].mean())

1660.4688518530606

In [19]:
dt_train["error2"] = dt_train["ActualOrderCompletionTime"] - dt_train["EstimatedOrderCompletionTime"]

In [20]:
dt_train[["ActualOrderCompletionTime", "EstimatedOrderCompletionTime", "error2"]].head()

   ActualOrderCompletionTime  EstimatedOrderCompletionTime  error2
0                      411.0                         808.0  -397.0
1                      394.0                         791.0  -397.0
2                      352.0                         803.0  -451.0
3                      401.0                         825.0  -424.0
4                      392.0                         826.0  -434.0

In [21]:
dt_train["error2_abs"] = np.abs(dt_train["error2"])

In [22]:
dt_train["error2_abs"].mean()

730.797438845245

In [23]:
dt_train["error2_squared"] = dt_train["error2"]**2

In [24]:
np.sqrt(dt_train["error2_squared"].mean())

1710.3329185807993

In [25]:
dt_train[["ActualOrderCompletionTime", "EstimatedOrderCompletionTime", "error2", "error2_abs", "error2_squared"]].head()

,ActualOrderCompletionTime,EstimatedOrderCompletionTime,error2,error2_abs,error2_squared
0,411.0,808.0,-397.0,397.0,157609.0
1,394.0,791.0,-397.0,397.0,157609.0
2,352.0,803.0,-451.0,451.0,203401.0
3,401.0,825.0,-424.0,424.0,179776.0
4,392.0,826.0,-434.0,434.0,188356.0

In [26]:
dt_train[["error_abs", "error2_abs"]].iloc[:10]

     error_abs  error2_abs
0   787.736164       397.0
1   920.211540       397.0
2   801.057945       451.0
3   744.670863       424.0
4   787.210113       434.0
5  1441.303343      1282.0
6   213.116851       417.0
7   407.062453       506.0
8   575.907720       688.0
9   416.550730       270.0

In [27]:
data_fit = dt_train[dt_train["ReceivedTimestamp"]<"2018-09-01 00:00:00"]

In [28]:
data_val_fit = dt_train[dt_train["ReceivedTimestamp"]>="2018-09-01 00:00:00"]

In [29]:
data_fit["ReceivedTimestamp"].head()

0    2018-06-01 13:35:32
1    2018-06-01 13:35:49
2    2018-06-01 15:38:37
3    2018-06-01 15:59:15
4    2018-06-01 16:04:14
Name: ReceivedTimestamp, dtype: object

In [30]:
data_val_fit["ReceivedTimestamp"].head()

182701    2018-09-01 12:01:14
182702    2018-09-01 12:27:16
182703    2018-09-01 12:28:19
182704    2018-09-01 12:28:23
182705    2018-09-01 12:38:30
Name: ReceivedTimestamp, dtype: object

In [32]:
model_q1b = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType + OrdersInQueue \
                + OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + DriversClockedIn \
                + DriversOnTheWay + ClockedInEmployees', data=data_fit).fit()
print(model_q1b.summary())

                                OLS Regression Results
=====================================================================================
Dep. Variable:     ActualOrderCompletionTime   R-squared:                       0.110
Model:                                   OLS   Adj. R-squared:                  0.110
Method:                        Least Squares   F-statistic:                     2508.
Date:                       Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                               09:36:17   Log-Likelihood:            -1.5916e+06
No. Observations:                     182687   AIC:                         3.183e+06
Df Residuals:                         182677   BIC:                         3.183e+06
Df Model:                                  9
Covariance Type:                   nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept               1898.4775     13.628    139.309      0.000    1871.767    1925.188
OrderPrice                14.9923      0.317     47.314      0.000      14.371      15.613
DeliveryType            -471.5807      6.183    -76.272      0.000    -483.699    -459.462
OrdersInQueue            103.1061      1.471     70.078      0.000     100.222     105.990
OvenProductsInQueue       -0.4309      0.040    -10.819      0.000      -0.509      -0.353
OrdersInOven              43.8492      2.927     14.979      0.000      38.112      49.587
OrdersReadyForDispatch    67.8665      1.918     35.382      0.000      64.107      71.626
DriversClockedIn           3.8950      3.004      1.297      0.195      -1.992       9.782
DriversOnTheWay           52.4797      2.355     22.282      0.000      47.864      57.096
ClockedInEmployees       -36.8396      2.304    -15.987      0.000     -41.356     -32.323
==============================================================================
Omnibus:                   277207.406   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        183742871.231
Skew:                           9.412   Prob(JB):                         0.00
Kurtosis:                     157.222   Cond. No.                         525.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [33]:
predictions_q1b = model_q1b.predict(data_val_fit)

In [35]:
data_val_fit["predictions_q1b"] = predictions_q1b
data_val_fit["error_q1b"] = data_val_fit["ActualOrderCompletionTime"] - data_val_fit["predictions_q1b"]
data_val_fit["error_q1b_abs"] = np.abs(data_val_fit["error_q1b"])

In [36]:
data_val_fit["error_q1b_abs"].mean()

860.4710086511535

In [37]:
data_val_fit["error_q1b_sqr"] = data_val_fit["error_q1b"]**2

In [38]:
np.sqrt(data_val_fit["error_q1b_sqr"].mean())

1976.9166229034124

In [39]:
data_val_fit["error2_abs"].mean()

832.3758964685946

In [40]:
np.sqrt(data_val_fit["error2_squared"].mean())

2049.375258846716

In [41]:
# removed DriversClockedIn
model_q2 = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType + OrdersInQueue + \
                    OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + \
                    DriversOnTheWay + ClockedInEmployees', data=data_fit).fit()

In [42]:
predictions_q2 = model_q2.predict(data_val_fit)
data_val_fit["predictions_q2"] = predictions_q2
data_val_fit["error_q2"] = data_val_fit["ActualOrderCompletionTime"] - data_val_fit["predictions_q2"]
data_val_fit["error_q2_abs"] = np.abs(data_val_fit["error_q2"])
data_val_fit["error_q2_sqr"] = data_val_fit["error_q2"] ** 2
print(data_val_fit["error_q2_abs"].mean(), np.sqrt(data_val_fit["error_q2_sqr"].mean()))

860.1997825822372 1976.8750850551191

In [43]:
# removed DriversClockedIn
# removed ClockedInEmployees
model_q2 = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType + OrdersInQueue + \
                    OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + \
                    DriversOnTheWay', data=data_fit).fit()

In [44]:
predictions_q2 = model_q2.predict(data_val_fit)
data_val_fit["predictions_q2"] = predictions_q2
data_val_fit["error_q2"] = data_val_fit["ActualOrderCompletionTime"] - data_val_fit["predictions_q2"]
data_val_fit["error_q2_abs"] = np.abs(data_val_fit["error_q2"])
data_val_fit["error_q2_sqr"] = data_val_fit["error_q2"] ** 2
print(data_val_fit["error_q2_abs"].mean(), np.sqrt(data_val_fit["error_q2_sqr"].mean()))

866.0295202150039 1978.5869077854143

In [45]:
# change delivery type
data_val_fit["DeliveryType"].head()

182701    2
182702    2
182703    2
182704    2
182705    1
Name: DeliveryType, dtype: int64

In [46]:
data_fit["DeliveryType_str"] = data_fit["DeliveryType"].astype(str)
data_val_fit["DeliveryType_str"] = data_val_fit["DeliveryType"].astype(str)

In [47]:
data_val_fit["DeliveryType_str"].head()

182701    2
182702    2
182703    2
182704    2
182705    1
Name: DeliveryType_str, dtype: object

In [48]:
# removed DriversClockedIn
# Bring back ClockedInEmployees
# change delivery type to string
model_q2 = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType_str + OrdersInQueue + \
                    OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + \
                    DriversOnTheWay + ClockedInEmployees', data=data_fit).fit()

predictions_q2 = model_q2.predict(data_val_fit)
data_val_fit["predictions_q2"] = predictions_q2
data_val_fit["error_q2"] = data_val_fit["ActualOrderCompletionTime"] - data_val_fit["predictions_q2"]
data_val_fit["error_q2_abs"] = np.abs(data_val_fit["error_q2"])
data_val_fit["error_q2_sqr"] = data_val_fit["error_q2"] ** 2
print(data_val_fit["error_q2_abs"].mean(), np.sqrt(data_val_fit["error_q2_sqr"].mean()))

757.9195869062963 1779.6212868493747

In [49]:
data_val_fit["StoreId"].head()

182701     43
182702     43
182703    123
182704     34
182705     44
Name: StoreId, dtype: int64

In [50]:
# removed DriversClockedIn
# Bring back ClockedInEmployees
# change delivery type to string
# Add StoreId
model_q2 = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType_str + OrdersInQueue + \
                    OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + \
                    DriversOnTheWay + ClockedInEmployees + StoreId', data=data_fit).fit()

predictions_q2 = model_q2.predict(data_val_fit)
data_val_fit["predictions_q2"] = predictions_q2
data_val_fit["error_q2"] = data_val_fit["ActualOrderCompletionTime"] - data_val_fit["predictions_q2"]
data_val_fit["error_q2_abs"] = np.abs(data_val_fit["error_q2"])
data_val_fit["error_q2_sqr"] = data_val_fit["error_q2"] ** 2
print(data_val_fit["error_q2_abs"].mean(), np.sqrt(data_val_fit["error_q2_sqr"].mean()))

756.7901410757413 1778.422636201378

In [51]:
data_fit["StoreId_str"] = data_fit["StoreId"].astype(str)
data_val_fit["StoreId_str"] = data_val_fit["StoreId"].astype(str)

In [52]:
# removed DriversClockedIn
# Bring back ClockedInEmployees
# change delivery type to string
# Add StoreId, changed to string 

model_q2 = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType_str + OrdersInQueue + \
                    OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + \
                    DriversOnTheWay + ClockedInEmployees + StoreId_str', data=data_fit).fit()

predictions_q2 = model_q2.predict(data_val_fit)
data_val_fit["predictions_q2"] = predictions_q2
data_val_fit["error_q2"] = data_val_fit["ActualOrderCompletionTime"] - data_val_fit["predictions_q2"]
data_val_fit["error_q2_abs"] = np.abs(data_val_fit["error_q2"])
data_val_fit["error_q2_sqr"] = data_val_fit["error_q2"] ** 2
print(data_val_fit["error_q2_abs"].mean(), np.sqrt(data_val_fit["error_q2_sqr"].mean()))

744.7206043162257 1764.9266204862774

In [54]:
data_fit.iloc[:10]

,OrderId,StoreId,OrderPrice,DeliveryType,OrdersInQueue,OvenProductsInQueue,OrdersInOven,OrdersReadyForDispatch,DriversClockedIn,DriversOnTheWay,...,ActualOrderCompletionTime,Predicted_ActualOrderCompletionTime,error,error_abs,error_squared,error2,error2_abs,error2_squared,DeliveryType_str,StoreId_str
0,0,152,6.990,2,0,0,0,0,0,0,...,411.0,1198.736164,-787.736164,787.736164,6.205283e+05,-397.0,397.0,157609.0,2,152
1,1,152,6.990,2,1,1,0,0,0,0,...,394.0,1314.211540,-920.211540,920.211540,8.467893e+05,-397.0,397.0,157609.0,2,152
2,2,152,5.950,2,0,0,0,0,0,0,...,352.0,1153.057945,-801.057945,801.057945,6.416938e+05,-451.0,451.0,203401.0,2,152
3,3,152,7.950,2,0,0,0,0,1,0,...,401.0,1145.670863,-744.670863,744.670863,5.545347e+05,-424.0,424.0,179776.0,2,152
4,4,152,7.490,2,0,0,1,0,1,0,...,392.0,1179.210113,-787.210113,787.210113,6.196998e+05,-434.0,434.0,188356.0,2,152
5,5,36,22.980,1,0,0,0,0,3,0,...,3015.0,1573.696657,1441.303343,1441.303343,2.077355e+06,1282.0,1282.0,1643524.0,1,36
6,6,113,14.986,1,0,0,0,0,1,0,...,1316.0,1529.116851,-213.116851,213.116851,4.541879e+04,-417.0,417.0,173889.0,1,113
7,7,163,13.490,1,0,0,0,2,2,0,...,1228.0,1635.062453,-407.062453,407.062453,1.656998e+05,-506.0,506.0,256036.0,1,163
8,8,36,31.430,1,0,0,1,0,3,2,...,2422.0,1846.092280,575.907720,575.907720,3.316697e+05,688.0,688.0,473344.0,1,36
9,9,57,30.470,1,0,0,0,0,4,0,...,2004.0,1587.449270,416.550730,416.550730,1.735145e+05,270.0,270.0,72900.0,1,57

In [57]:
data_val_fit["OrdersInQueue"].head()

182701    0
182702    0
182703    0
182704    0
182705    0
Name: OrdersInQueue, dtype: int64

In [65]:
data_val_fit["OrdersInQueue"].describe()

count    99139.000000
mean         2.708369
std          4.474664
min          0.000000
25%          0.000000
50%          1.000000
75%          3.000000
max         55.000000
Name: OrdersInQueue, dtype: float64

In [90]:
data_fit["OrdersInQueue_plus1"] = data_fit["OrdersInQueue"] + 1

In [91]:
data_fit["OrdersInQueue_plus1"].head()

0    1
1    2
2    1
3    1
4    1
Name: OrdersInQueue_plus1, dtype: int64

In [92]:
data_fit["OrdersInQueue"].head()

0    0
1    1
2    0
3    0
4    0
Name: OrdersInQueue, dtype: int64

In [93]:
data_val_fit["OrdersInQueue_plus1"] = data_val_fit["OrdersInQueue"]

In [94]:
# removed DriversClockedIn
# Bring back ClockedInEmployees
# change delivery type to string
# Add StoreId, changed to string 
# Add number 1 to OrdersInQueue

model_q2 = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType_str + OrdersInQueue_plus1 + \
                    OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + \
                    DriversOnTheWay + ClockedInEmployees + StoreId_str', data=data_fit).fit()

predictions_q2 = model_q2.predict(data_val_fit)
data_val_fit["predictions_q2"] = predictions_q2
data_val_fit["error_q2"] = data_val_fit["ActualOrderCompletionTime"] - data_val_fit["predictions_q2"]
data_val_fit["error_q2_abs"] = np.abs(data_val_fit["error_q2"])
data_val_fit["error_q2_sqr"] = data_val_fit["error_q2"] ** 2
print(data_val_fit["error_q2_abs"].mean(), np.sqrt(data_val_fit["error_q2_sqr"].mean()))

739.6144300202058 1771.1725712372577

In [95]:
print(model_q2.summary())

                                OLS Regression Results
=====================================================================================
Dep. Variable:     ActualOrderCompletionTime   R-squared:                       0.280
Model:                                   OLS   Adj. R-squared:                  0.280
Method:                        Least Squares   F-statistic:                     1093.
Date:                       Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                               11:41:00   Log-Likelihood:            -1.5722e+06
No. Observations:                     182687   AIC:                         3.145e+06
Df Residuals:                         182621   BIC:                         3.145e+06
Df Model:                                 65
Covariance Type:                   nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept               1717.3189     35.272     48.688      0.000    1648.187    1786.451
DeliveryType_str[T.2]  -1504.4558      7.780   -193.377      0.000   -1519.704   -1489.207
DeliveryType_str[T.3]    783.1141     14.181     55.222      0.000     755.319     810.909
StoreId_str[T.113]       121.8692     36.764      3.315      0.001      49.813     193.925
StoreId_str[T.121]       122.9727     43.291      2.841      0.005      38.124     207.821
StoreId_str[T.123]       150.3539     43.492      3.457      0.001      65.111     235.597
StoreId_str[T.126]       632.0725     38.178     16.556      0.000     557.244     706.901
StoreId_str[T.130]       -46.3569     44.261     -1.047      0.295    -133.108      40.395
StoreId_str[T.133]       550.6679     59.094      9.318      0.000     434.845     666.491
StoreId_str[T.138]       107.5488     78.179      1.376      0.169     -45.681     260.778
StoreId_str[T.141]       -21.1224     37.889     -0.557      0.577     -95.385      53.140
StoreId_str[T.15]        402.0508     37.376     10.757      0.000     328.795     475.307
StoreId_str[T.150]      -108.7004     49.148     -2.212      0.027    -205.030     -12.371
StoreId_str[T.151]      -246.4868     40.689     -6.058      0.000    -326.236    -166.738
StoreId_str[T.152]      -236.0938     36.831     -6.410      0.000    -308.281    -163.907
StoreId_str[T.153]       181.2211     41.205      4.398      0.000     100.459     261.983
StoreId_str[T.154]      -123.3259     37.694     -3.272      0.001    -197.205     -49.447
StoreId_str[T.156]      -203.3048     42.700     -4.761      0.000    -286.996    -119.613
StoreId_str[T.158]       -22.9913     73.268     -0.314      0.754    -166.595     120.612
StoreId_str[T.159]         7.7835     68.695      0.113      0.910    -126.857     142.424
StoreId_str[T.16]        260.0497     37.921      6.858      0.000     185.726     334.373
StoreId_str[T.160]        46.8947     88.530      0.530      0.596    -126.623     220.412
StoreId_str[T.162]      -201.3015     99.428     -2.025      0.043    -396.178      -6.425
StoreId_str[T.163]       -42.6853     38.535     -1.108      0.268    -118.213      32.843
StoreId_str[T.164]        47.5556     39.123      1.216      0.224     -29.124     124.235
StoreId_str[T.170]      -475.8976     42.852    -11.106      0.000    -559.886    -391.909
StoreId_str[T.171]       -39.6534     46.299     -0.856      0.392    -130.398      51.092
StoreId_str[T.176]        25.4478     55.285      0.460      0.645     -82.910     133.805
StoreId_str[T.177]        85.7411     58.365      1.469      0.142     -28.653     200.135
StoreId_str[T.182]       183.0090     99.154      1.846      0.065     -11.331     377.349
StoreId_str[T.183]       289.8778     38.278      7.573      0.000     214.855     364.901
StoreId_str[T.184]       280.9498     44.891      6.259      0.000     192.965     368.935
StoreId_str[T.187]      -254.6511     38.284     -6.652      0.000    -329.686    -179.616
StoreId_str[T.19]       -233.9234     39.673     -5.896      0.000    -311.681    -156.166
StoreId_str[T.193]       -63.3163     71.206     -0.889      0.374    -202.878      76.246
StoreId_str[T.194]       125.8993     45.975      2.738      0.006      35.790     216.009
StoreId_str[T.22]        195.3173     39.809      4.906      0.000     117.292     273.342
StoreId_str[T.23]        237.1250     43.931      5.398      0.000     151.021     323.229
StoreId_str[T.31]        102.1017    157.459      0.648      0.517    -206.514     410.718
StoreId_str[T.32]         12.4304     37.811      0.329      0.742     -61.679      86.540
StoreId_str[T.34]        136.7394     40.225      3.399      0.001      57.899     215.580
StoreId_str[T.36]        121.8529     36.537      3.335      0.001      50.242     193.464
StoreId_str[T.38]       -215.8679     46.877     -4.605      0.000    -307.747    -123.989
StoreId_str[T.42]        148.3211     46.709      3.175      0.001      56.772     239.871
StoreId_str[T.43]        145.7525     75.430      1.932      0.053      -2.088     293.593
StoreId_str[T.44]       -156.5376     42.663     -3.669      0.000    -240.157     -72.919
StoreId_str[T.46]       -530.8420     40.577    -13.082      0.000    -610.371    -451.313
StoreId_str[T.47]         72.6541     36.507      1.990      0.047       1.102     144.206
StoreId_str[T.53]        472.1203    132.194      3.571      0.000     213.022     731.218
StoreId_str[T.57]         94.8296     36.005      2.634      0.008      24.261     165.398
StoreId_str[T.59]        -76.6557     39.390     -1.946      0.052    -153.859       0.547
StoreId_str[T.63]        221.2217     46.670      4.740      0.000     129.750     312.693
StoreId_str[T.64]         -2.6246     50.805     -0.052      0.959    -102.201      96.952
StoreId_str[T.71]        222.7971     36.784      6.057      0.000     150.701     294.894
StoreId_str[T.73]        154.6410     42.088      3.674      0.000      72.150     237.132
StoreId_str[T.75]       -152.9298     41.812     -3.658      0.000    -234.881     -70.978
StoreId_str[T.80]         59.1696     36.381      1.626      0.104     -12.137     130.476
StoreId_str[T.89]        117.6228     58.154      2.023      0.043       3.642     231.604
StoreId_str[T.93]         76.0632     45.775      1.662      0.097     -13.655     165.781
OrderPrice                 7.1988      0.289     24.923      0.000       6.633       7.765
OrdersInQueue_plus1      101.8425      1.358     74.995      0.000      99.181     104.504
OvenProductsInQueue       -0.3875      0.036    -10.692      0.000      -0.458      -0.316
OrdersInOven              34.6404      2.675     12.951      0.000      29.398      39.883
OrdersReadyForDispatch    61.4103      1.758     34.924      0.000      57.964      64.857
DriversOnTheWay           18.5078      2.246      8.242      0.000      14.106      22.909
ClockedInEmployees       -39.8714      1.352    -29.493      0.000     -42.521     -37.222
==============================================================================
Omnibus:                   285996.456   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        252136169.049
Skew:                           9.920   Prob(JB):                         0.00
Kurtosis:                     183.915   Cond. No.                     1.04e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.04e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [97]:
dt_test = pd.read_csv("data_test.csv")

In [98]:
dt_test.head()

,OrderId,StoreId,OrderPrice,DeliveryType,OrdersInQueue,OvenProductsInQueue,OrdersInOven,OrdersReadyForDispatch,DriversClockedIn,DriversOnTheWay,ClockedInEmployees,ReceivedTimestamp,CompletedTimestamp,OriginalEstimatedDrivingTimeSeconds,EstimatedOrderCompletionTime
0,302762,34,3.99,2,2,3,0,0,1,0,1,2018-09-25 11:54:41,2018-09-25 12:10:01,-1.0,799.0
1,302763,22,10.48,2,0,0,0,0,1,0,2,2018-09-25 12:02:16,2018-09-25 12:08:11,-1.0,824.0
2,302764,22,3.99,2,1,2,0,0,1,0,2,2018-09-25 12:02:47,2018-09-25 12:08:11,-1.0,793.0
3,302765,22,3.99,2,2,3,0,0,1,0,2,2018-09-25 12:03:18,2018-09-25 12:08:11,-1.0,822.0
4,302766,22,3.99,2,0,0,0,0,1,0,2,2018-09-25 12:05:52,2018-09-25 12:10:51,-1.0,788.0

In [99]:
model_q3 = smf.ols('ActualOrderCompletionTime ~ OrderPrice + DeliveryType + OrdersInQueue + \
OvenProductsInQueue + OrdersInOven + OrdersReadyForDispatch + DriversClockedIn + \
DriversOnTheWay + ClockedInEmployees', data=dt_train).fit()

predictions_q3 = model_q3.predict(dt_test)

In [100]:
dt_test["predictions_q3"] = predictions_q3

In [101]:
dt_test[["OrderId", "predictions_q3"]].head()

   OrderId  predictions_q3
0   302762     1347.667140
1   302763     1183.268646
2   302764     1201.968761
3   302765     1317.444137
4   302766     1086.822160

In [105]:
dt_test[["OrderId", "predictions_q3"]].to_csv("submission_q3.csv", index=False)